<!DOCTYPE html>
<html ng-app="bankingApp">
<head>
  <meta charset="utf-8">
  <title>Banking</title>
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
  
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/moment/moment.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

  <link href="css/app.css" rel="stylesheet" />
  <script src="node_modules/angular/angular.js"></script>
  <script src="js/accounts.js"></script>
  <script src="js/app.js"></script>
  <script src="js/payments.js"></script>
  <script src="js/filters.js"></script>
  <script src="account/account.html"></script>
</head>
</head>
<body>
  
 <div class="container" ng-controller="getAccountsCtrl">
   <h2>Banking</h2>
   <div ng-repeat="account in accounts" class="row panel panel-info panel-account">
    <!-- <ng-include src="'accounts/account.html'" ></ng-include> -->
    <div class="row panel panel-info panel-paymentList">
      <div class="col-md-6">
        <h3 ng-bind="account.name"></h3>
        <p  ng-cloak>{{account.balance | currency}}</p>
      </div>
      <div class="col-md-2" ng-controller="withdrawCtrl">
        <input class="input form-control" type="number" ng-model="account.withdraw" min="100000" max="{{account.balance-100000}}"step="50000"></input>
        <button type="button" class="btn btn-info" ng-click="change(account)">Withdraw</button>
      </div>
      <div class="col-md-2" ng-controller="depositCtrl">
        <input class="input form-control" type="number" ng-model="account.deposit" min="100000" step="50000"></input>
        <button type="button" class="btn btn-info" ng-click="change(account)">Deposit</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-info input" ng-click="showList=!showList">History</button>
      </div>        
    </div>
    
    <div ng-if="showList" class="panel-showList">
      <!--filter-->
      <div class="row">
        <div class="panel payment-kind col-md-6">
          <select class="form-control" ng-model="paymentType" ng-options="value as key for (key, value) in paymentOptions">
          </select>    
        </div>    
        <div class="dropdown col-md-6">
          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group"><input type="text" class="form-control" data-ng-model="paymentDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="paymentDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView:'day', startView:'day'}"/>
          </ul>
        </div>
      </div>

      <div ng-repeat="item in paymentsList | accountsFilter:account.id | paymentsFilter:paymentType | dateFilter:paymentDate">
        <div class="row panel panel-info" ng-class="item.type==1 ? 'withdraw':'deposit'">
          <div class="col-md-4">
            <h5 ng-cloak>{{item.type==1?"Withdraw":"Deposit"}}</h5>
          </div>
          <div class="col-md-4">
            <h5 ng-cloak>{{item.number | currency}}</h5>
          </div>
          <div class="col-md-4">
            <h5 ng-cloak>{{item.date | date: "hh:mm:ss - MMM/dd/yyyy"}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>