<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>To do</title>
  <link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script src="js/libs/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/modules/services.js"></script>
  <script src="js/modules/directives.js"></script>
  <script src="js/modules/controllers.js"></script>
  
 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <div class="container" >    
   
    <div class="header" ng-controller="TimeController">
      <h1 class="todo-header">To do</h1>
      <h3 class="time-show" ng-cloak>{{time.now | date: "HH:mm:ss MMM-dd-yyyy"}}</h3>
    </div>
      
       
    <div class="row" ng-controller="TodoController as todo">
      <div class="panel panel-info row todo-info new-todo">
          <input ng-model="newTask" id="newTodo" type="text" ng-enter="todo.addTodo()" placeholder="Add a to-do..."></input>          
      </div> 
      <div><h5 style="color: blue; margin:20px;" ng-cloak>{{(todoList|filter:{done:'false'}).length}} to-dos remaining...</h5></div>
      <div ng-repeat="item in todoList | filter:{done:'false'}">          
      <!-- ng-class="$odd ? 'oddClass':'evenClass'" -->
      <!-- ng-class-odd="'oddClass'" ng-class-even="'evenClass'"  -->
        <div class="panel panel-info row todo-info" ng-dblclick="todo.setEditable(item)" ng-include="'partials/listOfItems.html'">
        </div>  
      </div>  

      <button id="hideBtn" class="btn btn-warning" ng-model="hideButton" ng-click="todo.showHideCompleted()" ng-cloak>{{hideButton}}</button> 

      <div ng-class="completedTodo" ng-show="todo.showCompleted" ng-repeat="item in todoList | filter:{done:'true'}">          
        <div class="panel panel-info row todo-info done-info" ng-dblclick="todo.setEditable(item)" ng-show="item.done" ng-include="'partials/listOfItems.html'">
        </div>  
      </div>  

    </div>

  </div>
</body>
</html>
